<div class="bg-gray-800 mx-36 px-36 h-screen">
  <mat-tab-group>
    <mat-tab label="About me">
      <div class="text-2xl text-gray-900 dark:text-white">
        <p>
          'I'm Lean Kurt Mallari a fresh graduate student from STI Caloocan.
          <br />
          I'm a web developer and currently learning about Angular. Nice to meet
          you! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem
          aspernatur totam eveniet deleniti molestiae. Dicta magni, sequi
          adipisci consectetur autem, hic sunt voluptatibus dolor at optio,
          ipsum quae sint consequuntur! Lorem ipsum dolor sit amet consectetur adipisicing elit. 
          Error voluptatum autem quibusdam veniam debitis, quia minus, molestias voluptas incidunt 
          officiis dignissimos! Animi ipsam dolore obcaecati ipsum voluptas! Quia, et aperiam. Lorem 
          ipsum dolor sit, amet consectetur adipisicing elit. Itaque iste amet vitae unde culpa sint, 
          et deserunt! Alias ex sed nobis, itaque repellendus libero officiis, iusto quas praesentium 
          laborum velit?
        </p>
      </div>
    </mat-tab>
    <mat-tab label="Certificates">
      <app-certificate></app-certificate>
      <div class="flex justify-evenly">
        <!-- <img
          class="h-96 w-auto"
          src="../../assets/WPS Photos(1).png"
          alt="cercer"
        />
        <img
          class="h-96 w-auto"
          src="../../assets/WPS Photos(1)23.png"
          alt=""
        /> -->
      </div>
    </mat-tab>
    <mat-tab label="Skills">
      <div class="mb-1 text-base font-medium dark:text-white">HTML</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div
          class="bg-pink-500 h-2.5 rounded-full"
          style="width: 75%"
        ></div>
      </div>  
      <div class="mb-1 text-base font-medium dark:text-white">CSS</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div
          class="bg-pink-500 h-2.5 rounded-full"
          style="width: 80%"
        ></div>
      </div>  
      <div class="mb-1 text-base font-medium dark:text-white">ANGULAR</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div
          class="bg-pink-500 h-2.5 rounded-full"
          style="width: 50%"
        ></div>
      </div>  
      <div class="mb-1 text-base font-medium dark:text-white">TAILWIND</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div
          class="bg-pink-500 h-2.5 rounded-full"
          style="width: 63%"
        ></div>
      </div>  
      <div class="mb-1 text-base font-medium dark:text-white">SASS</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div
          class="bg-pink-500 h-2.5 rounded-full"
          style="width: 50%"
        ></div>
      </div>  
      <div class="mb-1 text-base font-medium dark:text-white">JAVASCRIPT</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div
          class="bg-pink-500 h-2.5 rounded-full"
          style="width: 40%"
        ></div>
      </div>  
      <div class="mb-1 text-base font-medium dark:text-white">TYPESCRIPT</div>
      <div class="w-full bg-gray-200 rounded-full h-2.5 mb-4 dark:bg-gray-700">
        <div
          class="bg-pink-500 h-2.5 rounded-full"
          style="width: 55%"
        ></div>
      </div>  
    </mat-tab>
  </mat-tab-group>
</div>
