<div class="cert mx-36">
    <p class="certTitle pl-10 text-white text-4xl font-bold tracking-wider">Skills</p>
    <div class="inner-cert display flex justify-around sm:border-1-2 z-30">
      <div class="slider">
        <div class="slide-track">
          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img src="../../assets/WPS Photos(1)23.png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>

          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img class="h-auto max-w-lg rounded-lg " src="../../assets/WPS Photos(1)23.png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>
          <div class="slide">
            <img src="../../assets/WPS Photos(1).png" alt="image_certificate" />
          </div>
  
        </div>
      </div>
    </div>
  </div>